<h1>Create Scenario</h1>
<form class="" action="/scenario/create" method="post">
  <div class="">
    <label>Value</label>
    <input type="text" name="value" value="">
  </div>
  <div class="">
    <input type="submit" value="Create">
  </div>
</form>
