<h1>Create Scenario</h1>
<form class="" action="/scenario/create" method="post">
  <div class="form-group">
    <label>Value</label>
    <input class="form-control" type="text" name="value" placeholder="Your spicy scenario here...">
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Create">
  </div>
</form>
