<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scenario</title>
  </head>
  <body>
    <h1>Scenario</h1>
    <div class="">
      <a href="/kind">Kind</a>
      <a href="/scenario">Scenario</a>
      <a href="/event">Event</a>
    </div>
    <p>Value: <%= scenario.value %></p>
    <p>ID: <%= scenario.id %></p>
  </body>
</html>
