<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kind</title>
  </head>
  <body>
    <h1>Meme Generator</h1>
    <div class="">
      <a href="/">Home</a>
      <a href="/kind">Kind</a>
      <a href="/scenario">Scenario</a>
      <a href="/event">Event</a>
    </div>
    <%- body %>
  </body>
</html>
