<h1>Create Kind</h1>
<form class="" action="/kind/create" method="post">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" type="text" name="name" placeholder="Name your meme...">
  </div>
  <div class="form-group">
    <label>URL</label>
    <input class="form-control" type="text" name="url" placeholder="Where can we get this spicy meme?">
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Create">
  </div>
</form>
