<h1>Create Kind</h1>
<form class="" action="/kind/create" method="post">
  <div class="">
    <label>Name</label>
    <input type="text" name="name" value="">
  </div>
  <div class="">
    <label>URL</label>
    <input type="text" name="url" value="">
  </div>
  <div class="">
    <input type="submit" value="Create">
  </div>
</form>
