<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kind</title>
  </head>
  <body>
    <h1>Kind</h1>
    <div class="">
      <a href="/kind">Kind</a>
      <a href="/scenario">Scenario</a>
      <a href="/event">Event</a>
    </div>
    <p>Name: <%= kind.name %></p>
    <p>ID: <%= kind.id %></p>
    <img src="<%= kind.url %>" alt="<%= kind.name %>" />
  </body>
</html>
